@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rubik: var(--font-rubik-family);
  --font-baloo: var(--font-baloo-family);
  /* Map Tailwind font token to the actual family variable */
  --font-lobster-two: var(--font-lobster-two-family);
  --font-lobster: var(--font-lobster-family);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
}

/* Set Baloo as default for headings */
